@model IEnumerable<Sake.Models.Utakmica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDomaćina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGosta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeOdržavanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MjestoOdržavanja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDomaćina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGosta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeOdržavanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MjestoOdržavanja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
