@model Sake.Models.IgranjeZaTim

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IgranjeZaTim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdIgrača)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdIgrača)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
